header {
  width: 100%;
  position: relative;
  top: 5px;
  padding: 1.5rem;
  background-color: transparent;
  transition: .5s;
  z-index: 10000;
}

.sticky {
  position: fixed;
  top: 0;
  padding: .75rem;
  z-index: 1000;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.194);
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  width: 230px;
  align-self: center;
  justify-self: center;
}

.logo-link {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-logo {
  width: 200px;
  background-image: url("../../storage/logos/header__logo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navlinks {
  width: 100%;
  transform: translateY(3px);
}

ul {
  font-size: 1.3rem;
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navlinks li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navlinks li a:hover {
  border-bottom: 1px solid #E2CA60;
}

.navlinks #log-in {
  font-size: 1.4rem;
  border: 1px solid #E2CA60;
  border-radius: 10px;
  padding: 0.3rem 2rem;
  transition: background-color 0.3s;
  background-color: rgba(255, 255, 255, 0);
  color: #E2CA60;
}

.navlinks #log-in:hover {
  background-color: rgba(249, 227, 131, 0.164);
  cursor: pointer;
}

.expanded {
  display: none;
}