/* SignUpForm.css */
.sign-up-form-container {
  width: 65%;
  display: grid;
  place-items: center;
}

.player-sign-up-form {
  width: 65%;
  display: grid;
  place-items: center;
}

.sign-up__form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 2rem;
  color: white;
  border: 1px solid rgb(52, 52, 52);
  box-shadow: 5px 5px 15px #000000bb;
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.sign-up__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.sign-up__title {
  font-size: 2.7rem;
}

.sign-up__social-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.bx {
  font-size: 40px;
}

.sign-up__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.sign-up__input {
  border-radius: 5px;
  padding: 1rem;
  border: none;
  margin: 0 .5rem;
}

.sign-up__input:focus {
  border: none;
  outline: none;
}

.sign-up__terms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.sign-up__actions {
  width: 100%;
  display: grid;
  place-items: center;
}

.sign-up__button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #E2CA60;
  font-weight: 600;
  transition: 300ms ease;
}

.sign-up__button:hover {
  background-color: #e8d271;
  transition: 300ms ease;
  cursor: pointer;
}